iframe{
    border-radius: 30px;
    margin-bottom: 5%;
}

p{

    margin-top: 5%;
    margin-left: 1.5%;
}

h6{

    color: #f0efeb;
}


/* Element */


.img{

    margin-top: 25%;
    margin-left: 25%;
}

.fond_profile{
    border-radius: 0px 30px 30px 30px;
    padding: 5px;
    background-image: url(/img/ph2.png);
    background-color:white;
    color:white;

}

.titre_joueur{
    font-size: 2em;
    margin-top: 10%;
}

.m_e_p{color: #e9c46a;}

.hr_1{background-color: #e9c46a;}

.saison {
    background-color: #0111;
    border-radius: 25px;
    padding: 20px;
}

.table{
    border-radius: 25px;
    padding: 20px;

}
.titre{
    border-radius: 25px;
    padding: 5px;
    background-image: url(../img/basket_titre.jpg);
    background-color:white;
    color:white;
    opacity: .7;
}

.bordureNav{

    border: 1px solid #F0F0F0;
    border-radius: 10px 10px 0px 0px;
    width:13%;
    border-top-right-radius: 10px;
    background-image: url(/img/ph2.png);


}

.Videodiv{


    border-left:  1px solid #F0F0F0;
    border-right:  1px solid #F0F0F0;
    border-bottom:  1px solid #F0F0F0;
}


.bordureNav:hover{
    background-color:#f8f9fa;
}

.Video{
    padding-left: 4%;


}


.titreVideo{
    font-family: sans-serif;
    font-size: 27px;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #e9c46a;

}
.commentaire{
    text-align: justify;
    padding-right: 5%;


}
.test{
    background-color:#f8f9fa;
    margin-bottom: 5%;
}


/* page listeProfil */
.hyperlienJoueur{
    color:white;

}
.nom{
    margin-top: 10px;


}
.photo_profil{
    margin-top:10%;
    margin-left: 10%;
}
.list{


    width: 720px;
}

.element_list{
    background-image: url(/img/ph2.png);
    margin-bottom: 1%;
    border:1px solid #F0F0F0;
    color: white;
    border-radius:5px;

}
.panel_page_number{
    padding-left: 90%;
}

.ajouter{
    margin-top:10%;

}
.btn_ajouter2{
    margin-left: 30%;
    border-radius:45px;
    border:2px solid #e9c46a;/* #f8f9fa;*/
    width: 50px;
    height: 50px;
}
.iconplus{


    margin-left:-15%;
}
/* Objet*/

.btn_ajouter{

    margin-left:20px;
    margin-top: 20%;
    color: white;
    border-radius:8px;

}
.btn_message{

    margin-left: 20%;
    margin-top: 20%;
    color: white;;
    border-radius:8px;
}